@import url("./general.css");

:root{
    --nav-spacer: 80px
}

body, html {
    margin: 0;
    padding: 0;
    overflow: scroll; /* Re-enable scroll */
}

.dbpage-body {
    margin-top: var(--nav-spacer); /* under the nav */
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    background: var(--gray-contrast);
    color: white;
    overflow: scroll;
}
